.text{
    background-color: #28262E;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 12px;
}

.date{
    background-color: #28262E;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 12px;
}

.small{
    width: 150px;
}

.medium{
    width: 280px;
}

.large{
    width: 300px;
}

.container{
    display: flex;
    flex-direction: column;
}

.label{
    color: white;
}

.error{
    border: 1px solid red;
}
