/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Barber/BarberInfo/BarberInfo.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BarberInfo_container__TTMZX {
  background-color: #3e3b47;
  border-radius: 5px;
  min-height: 600px;
  width: 50vw;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.BarberInfo_container__TTMZX h3 {
  color: white;
  margin-bottom: 15px;
}

.BarberInfo_userProfile__rOz5I {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}

.BarberInfo_photo__mqlIv {
  background-color: #555;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.BarberInfo_userInfo__O4JAL {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.BarberInfo_userInfo__O4JAL h3 {
  margin: 0;
  color: white;
}
.BarberInfo_userInfo__O4JAL p {
  margin: 0;
  color: #FF9000;
}

.BarberInfo_personalInfo__sF2iN, .BarberInfo_address__StQTG, .BarberInfo_admissionInfo__0CdTN {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  gap: 10px;
  margin-bottom: 20px;
}

.BarberInfo_row__bwsRJ {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: white;
}
.BarberInfo_row__bwsRJ strong {
  color: white;
}
.BarberInfo_row__bwsRJ p {
  color: #ccc;
  margin-left: 5px;
}

.BarberInfo_line__Rf5iw {
  border: 0;
  border-top: 1px solid #FF9000;
  margin: 20px 0;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Barber/FormButton/formButton.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.formButton_btn__O7Lf2 {
  width: 120px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.formButton_btn__O7Lf2:hover {
  transition: 0.7s;
  opacity: 0.7;
}

.formButton_cancel__Syd9s {
  background-color: #999591;
}

.formButton_submit__zy0Tz {
  background-color: #FF9000;
}
