/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Login/login.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.login_login__6dBPT {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}
.login_login__logo__Wm54x {
  margin: -5em 0 3em 0;
}
.login_login__image__x9OAE {
  background-image: url("/assets/capa_login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login_login__form__EK8IH {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.6rem;
}
.login_login__form_input__0koY4 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.4rem;
}
.login_login__title__f8bLM .login_title__okjg9 {
  font-size: 1.6em;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-shadow: 1px 0 #919090;
}
.login_login__content__DQJeq {
  width: 100%;
  background-color: rgba(var(--background));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.login_login__content__label__y_upx input {
  background-color: rgba(var(--input));
  min-width: 20em;
  padding: 0.6em 2em;
  height: 2.5em;
  border: 1px rgba(var(--input)) solid;
  border-radius: 0.4em;
  color: rgba(var(--gray));
  font-size: 1em;
}
.login_login__content__label__y_upx input:focus {
  outline: none;
}
.login_login__content__label__y_upx input:-webkit-autofill {
  background-color: rgba(var(--input)) !important; /* Altere para a cor de fundo desejada */
  -webkit-box-shadow: 0 0 0 30px rgba(var(--input)) inset !important;
  -webkit-text-fill-color: rgba(var(--gray-hard)) !important; /* Cor do texto durante o autofill */
}
.login_login__content_errorLogin__HcI_U {
  color: red;
}
.login_login__content__button_login__9QBO3 {
  width: 100%;
  min-width: 20em;
  height: 3.6em;
  padding: 0.6em 2em;
  background-color: rgba(var(--orange));
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 1em;
  color: rgba(var(--background));
  border: 1px rgba(var(--input)) solid;
  border-radius: 0.6em;
  box-shadow: 0.4em 0.4em 0.6em 0 rgba(var(--input)); /* Sombra inferior e lateral direita */
}
.login_login__content__button_login__9QBO3:hover {
  transition: all 0.4s;
  background-color: rgba(217, 126, 8, 0.8);
}
.login_login__content__DQJeq .login_active__eRQVb {
  background-color: rgba(255, 160, 28, 0.2549019608);
}
