.container{
    display: grid;
    grid-template-columns: 0.8fr 2fr;


    background-color: rgba(var(--background));


    &__menu{
        display: flex;
        background-color: rgba(var(--background));

    }
    &__main{
        background-color: rgba(var(--background));
    }
    &__construcao{
        background-image: url('/assets/emConstrução.png');
        background-size: 20% ;
        background-position: center;
        background-repeat: no-repeat;
    }
}

